@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  background-color: aqua ;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
