@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
#root {
  max-width: 1440px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  margin-left: auto;
  margin-right: auto;
}

#navbar-progress {
  height: .1rem;
  /* margin-top: .125rem; */
  width: 100%;
  transform-origin: 0%;
}

.wrapper{
  display: grid;
  grid-template-columns: 45rem 1fr;
  grid-gap: 2em;
  align-items: baseline;
}

.title {
  position: sticky;
  top: 3rem;
  height: 90vh
}

.Gradient{
  background-image: radial-gradient(#DF2A63, #fd8ede);
  font-weight: 700;
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent; 
}

.AvatarRoot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
  user-select: none;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: var(--black-a3);
}

.AvatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.AvatarFallback {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--violet-11);
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
}

.Hero__Name{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 900;
}
